@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Outfit", sans-serif;
}

:root {
   /* PRIMARY */
   --soft-blue: hsl(215, 51%, 70%);
   --cyan: hsl(178, 100%, 50%);

   /* NEUTRAL */
   --very-dark-blue: hsl(217, 54%, 11%);
   --dark-blue: hsl(216, 50%, 16%);
   --blue: hsl(215, 32%, 27%);
   --white: hsl(0, 0%, 100%);
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   background-color: var(--very-dark-blue);
   color: var(--soft-blue);

   display: flex;
   justify-content: center;
   align-items: center;
   height: 100dvh;
}

main {
   width: 32.7rem;
   padding: 2.4rem;
   border-radius: 1.6rem;
   background-color: var(--dark-blue);

   box-shadow: 0 2.5rem 5rem 0 hsla(0, 0%, 0%, 0.1);
}

.img-container {
   position: relative;
}

.img-equilibrium {
   display: block;
   width: 100%;
   height: 100%;
   border-radius: 0.8rem;
}

.icon-bg {
   opacity: 0;
   cursor: pointer;

   width: 100%;
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: center;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: hsl(178, 100%, 50%, 0.5);
   border-radius: 0.8rem;

   transition: all 0.3s;
}

.img-container:hover .icon-bg {
   opacity: 1;
}

.section-info h1 {
   display: inline-block;
   font-size: 2.2rem;
   color: var(--white);

   margin-bottom: 1.2rem;
   margin-top: 2.4rem;

   transition: all 0.3s;
}

.section-info h1:hover,
.section-info h1:active {
   cursor: pointer;
   color: var(--cyan);
}

.section-info > p {
   font-size: 1.8rem;
   font-weight: 300;
   line-height: 2.6rem;

   margin-bottom: 1.6rem;
}

.price-container {
   display: flex;
   justify-content: space-between;

   margin-bottom: 1.6rem;
}

.price-container > div {
   display: flex;
}

.eth-div img {
   width: 1.1rem;
}

.clock-div img {
   width: 1.6rem;
   height: 1.6rem;
}

.eth-div p {
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--cyan);
   margin-left: 0.65rem;
}

.clock-div p {
   font-size: 1.5rem;
   margin-left: 0.65rem;
}

hr {
   border: none;
   height: 1px;
   width: 100%;
   background-color: var(--blue);

   margin-bottom: 1.6rem;
}

.section-author {
   display: flex;
   align-items: center;
   font-size: 1.5rem;
   font-weight: 400;

   gap: 1.6rem;
}

.section-author a {
   text-decoration: none;
   color: var(--white);

   margin-left: 0.5rem;

   transition: all 0.3s;
}

.section-author a:hover,
.section-author a:active {
   color: var(--cyan);
}

.avatar {
   width: 3.3rem;
   border: 1px solid var(--white);
   border-radius: 50%;
}

.price-container > div {
   display: flex;
   align-items: center;
}

/* Making it responsive for even smaller devices */
@media (max-width: 340px) {
   html {
      font-size: 50%;
   }
}

/* Making it responsive for Desktop devices */
@media (min-width: 1440px) {
   main {
      width: 35rem;
   }

   .section-info h1 {
      margin-bottom: 1.6rem;
   }

   .section-info > p {
      margin-bottom: 2.4rem;
   }

   .price-container p {
      font-size: 1.6rem;
   }

   .price-container {
      margin-bottom: 2.4rem;
   }

   .section-author p {
      font-size: 1.6rem;
   }

   .section-author {
      margin-bottom: 0.8rem;
   }
}
