@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d192c;
  font-family: "Outfit";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #15263f;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  width: 350px;
  height: 596px;
  border-radius: 15px;
  padding: 24px;
}

.main-image {
  max-width: 100%;
  border-radius: 8px;
}

/* Every paragraph's color */
p {
  color: #8bacd9;
}

/* Adding transparent overlay when hovering on the image */
.overlay-div {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.blue-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 302px;
  width: 302px;
  border-radius: 8px;
  background-color: #00fff8;
  opacity: 0;
  transition: 0.3s ease;
}

.view-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: 0.3s ease;
}

.overlay-div:hover .blue-box {
  opacity: 0.5;
  cursor: pointer;
}

.overlay-div:hover .view-icon {
  opacity: 1;
  cursor: pointer;
}

/* Styling the title and the description */
.title-desc > h1 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  margin-top: 24px;
  display: inline-block;
}

.title-desc > p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 16px;
}

.title-desc > h1:hover {
  cursor: pointer;
  color: #00fff8;
}

/* Styling the ETH and time */
.price-time > h2 {
  color: #00fff8;
  font-size: 16px;
  font-weight: 600;
  padding-top: 24px;
}

.price-time > p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  float: right;
}

.price-time > h2::before {
  content: url(images/icon-ethereum.svg);
  vertical-align: middle;
  padding-right: 6.5px;
}

.price-time > p::before {
  content: url(images/icon-clock.svg);
  vertical-align: middle;
  padding-right: 6.5px;
}

/* Styling the author */
.creator-div {
  margin-top: 32px;
}

.creation-of {
  color: #8bacd9;
  font-size: 16px;
  font-weight: 400;
  padding-left: 16px;
}

.author-name {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.author-name:hover {
  cursor: pointer;
  color: #00fff8;
}

.avatar {
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 33px;
}

/* Miscellaneous */
.rectangle {
  background-color: #2e405a;
  height: 1px;
  width: 302px;
  margin-top: 24px;
  margin-bottom: -16px;
}
