@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d192c;
  font-family: "Outfit";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  background-color: #15263f;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  width: 327px;
  height: auto;
  border-radius: 15px;
  padding: 24px;
}

.main-image {
  max-width: 100%;
  border-radius: 8px;
}

.title {
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  margin: 24px 0 12px 0;
}

.description {
  color: #8bacd9;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}

.details {
  display: flex;
  justify-content: space-between;
}

.price {
  color: #00fff8;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.time {
  color: #8bacd9;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.icon-clock,
.icon-ethereum {
  margin-right: 6.5px;
}

.rectangle {
  background-color: #2e405a;
  width: 278px;
  height: 1px;
  margin: 16px 0 16px 0;
}

.creator-div {
  display: flex;
  align-items: center;
}

.avatar {
  width: 33px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.creation-of {
  color: #8bacd9;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  margin: 0 5px 0 16px;
}

.author-name {
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.overlay-div {
  display: none;
}

@media screen and (min-width: 481px) {
  .main-container {
    width: 350px;
  }

  .title {
    margin-bottom: 16px;
    display: inline-block;
  }

  .title:hover {
    cursor: pointer;
    color: #00fff8;
  }

  .description {
    margin-bottom: 24px;
  }

  .price {
    font-size: 16px;
    line-height: 20px;
  }

  .time {
    font-size: 16px;
    line-height: 20px;
  }

  .rectangle {
    width: 302px;
    margin-top: 24px;
  }

  .creation-of {
    font-size: 16px;
    line-height: 20px;
  }

  .author-name {
    font-size: 16px;
    line-height: 20px;
  }

  .author-name:hover {
    cursor: pointer;
    color: #00fff8;
  }

  .creator-div {
    margin-bottom: 8px;
  }

  .main-image-desktop {
    max-width: 100%;
    border-radius: 8px;
  }

  /* Adding transparent overlay when hovering on the image */
  .main-image {
    display: none;
  }

  .overlay-div {
    display: revert;
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  .blue-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 302px;
    width: 302px;
    border-radius: 8px;
    background-color: #00fff8;
    opacity: 0;
    transition: 0.3s ease;
  }

  .view-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: 0.3s ease;
  }

  .overlay-div:hover .blue-box {
    opacity: 0.5;
    cursor: pointer;
  }

  .overlay-div:hover .view-icon {
    opacity: 1;
    cursor: pointer;
  }
}
